:root {
  --highligher-pink: rgba(255, 208, 217, 0.6);
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  padding-bottom: 20px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
